html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: table;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0e0f17;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-width: 500px;
  min-height: 100%;
  height: 100%;
  width: 100%;
  display: table-cell;
}

.navbar {
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 6;
  width: 100%;
  justify-content: right;
  min-height: 40px;
  margin: 0;
  padding: 0, -100px 0 0;
  display: flex;

}

.navbar * {
  align-self: center;
  color: #d0d0d0;
  font-size: 15px;
  margin: 0px 3px;
}

.navbar a {
  display: inline-block;
  text-decoration: none;
  margin: 0px 2px 0px -5px;
}

.navbar a:hover {
  color: #ffffff;
}

.style_line {
  position: fixed;
  transform-origin: top left;
  transform: rotate(15deg);
  -moz-transform: rotate(15deg);  
  -o-transform: rotate(15deg);  
  -webkit-transform: rotate(15deg);  
  -ms-transform: rotate(15deg); 
}

.style_line2 {
  position: fixed;
  transform-origin: top left;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg);  
  -o-transform: rotate(45deg);  
  -webkit-transform: rotate(45deg);  
  -ms-transform: rotate(45deg); 
}

.flex-column-container {
  display: flex; 
  flex-direction: column;
}

.flex-row-container {
  display: flex; 
  flex-direction: row;
}

.profile-picture {
  height: 175px; 
  width: 175px; 
  object-fit: cover; 
  object-position: top right;
  border-radius: 50%;
  background-size: cover;
}

.vertical-divider {
  border: 1px solid #23aed6; 
  height: 100%; 
  position: fixed;
  left: 100%;
}

@media screen and (min-width: 700px) {
  .vertical-divider {
    left: calc(50% - 1px);
    right: auto;
  }
}

.timeline-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.timeline {
  max-width: 1300px;
  padding: 1rem;
  margin: 0 auto;
  position: relative;
}

.timeline:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 700px) {
  .timeline {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.timeline-element {
  padding: 1rem;
  position: relative;
  margin-left: 1rem;
  margin-right: 3rem;
  clear: both;
}

.timeline-element:after,
.timeline-element:before {
  content: "";
  position: absolute;
}

@media screen and (min-width: 700px) {
  .timeline-element {
    width: 44%;
    margin: 1rem;
  }

  .timeline-element:nth-of-type(2n) {
    float: right;
    margin-top: 150px;
    margin-bottom: 150px;
  }
  
  .timeline-element:nth-of-type(2n):before {
    right: auto;
    margin-top: 150px;
    margin-bottom: 150px;
  }
}

.timeline-element-centered {
  text-align: center;
  max-width: 200px;
  margin: 0 48px 0 auto;
  line-height: 1;
  border-image: none;
  padding: .5rem 1rem 1rem;
  z-index: 3;
}

.timeline-element-centered:before {
  display: none;
}

@media screen and (min-width: 700px) {
  .timeline-element-centered {
    text-align: center;
    margin: 0 auto;
  }
  
  
  .timeline-element-centered:nth-of-type(2n) {
    float: none;
    margin: 0 auto;
    border-image: none;
  }

  .timeline-element-centered:nth-of-type(2n):before {
    display: none;
  }
}


.fade-feed {
  position: fixed;
  z-index: 5;
  width: 100%;
}

.fade-feed-top {
  top: 0; 
  height: 200px; 
  background: -webkit-linear-gradient(#0e1212, transparent); 
  background: -moz-linear-gradient(#0e1212, transparent);
  background: -o-linear-gradient(#0e1212, transparent); 
  background: linear-gradient(#0e1212, transparent); 

}

.fade-feed-bottom {
  bottom: 0; 
  height: 350px; 
  background: -webkit-linear-gradient(transparent, #0e1212); 
  background: -moz-linear-gradient(transparent, #0e1212);
  background: -o-linear-gradient(transparent, #0e1212); 
  background: linear-gradient(transparent, #0e1212); 

}

.contact-form-text-input {
  margin: 5px;
  padding-bottom: 5px;
  border-bottom:1px solid #d0d0d0;
  font-size: 16px;
}

input {
  background-color: transparent;
  border: none;
  border-left: #d0d0d0;
  padding-left: 5px;
  font-size: 16px;
}

textarea {
  background-color: transparent;
  border: none;
  overflow: auto;
  resize: none;
  font-size: 16px;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.button {
  color: #d0d0d0;
  width: min-content;
  border-radius: 5px;
  padding: 5px 10px;
  background-color: #23aed6;
}

.button:hover {
  cursor: pointer;
  background-color: #2353d6;
}

.button-contents:hover {
  cursor: pointer;
  background-color: #2353d6;
}

.form-label {
  display:contents;
  color: #d0d0d0;
  font-weight: bold;
  flex: auto;
  padding-right: 0;
  margin-right: 5px !important;
}

h1 {
  color: #d0d0d0;
}

h2 {
  color: #d0d0d0;
}